.title{
    text-align: center;
}

.events{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.event {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 25px;
    background-color: #f1d5d5;
    border-radius: 15px;
}

.event-date{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-mini-date h4{
    margin: 2px 8px;
}


.event-name{
    width: 60%;
}